*
{
   font-family: 'Lato', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}


a:-webkit-any-link{
text-decoration:none !important;
}


/*----------------------------------------------
			 APPLIES TO ALL PAGES
---------------------------------------------- */


.navbar-brand {
	padding-left: 1em;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.1em;
}


html,
body {
	margin:0;
	padding:0;
	height:100%; 
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-top: 50px;
	padding-bottom: 12em;
}

#footer {
	width:100%;
	position: absolute;
	bottom:0;
	left:0;
}

#myCarousel {
	margin-top: 3.5em;
}



.fade {
   opacity: 0.8;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

 .fade:hover {
      opacity: 1;
   }

/* ------------- FOOTER ---------------------*/


.universal-footer {
	background-color: #2d2d2d;
	height: auto;
	margin-top: 50em;
}


.universal-footer .footer-links li a, .universal-footer .social-media li a {
	color: white;
}


.universal-footer .footer-links li, .universal-footer .social-media li  {
	padding-bottom: 1em;
}

.universal-footer .social-media .fa {
	padding-right: 1em;
}

.universal-footer .footer-links h4, .universal-footer .social-media h4 {
	opacity: 1;
	text-align: left;
	opacity: 0.8;
	padding-bottom: 1em;
	padding-top: 1em;
	color: white;
}

.universal-footer .footer-links ul, .universal-footer .social-media ul  {
	list-style-type: none;
	padding: 0;
	opacity: 0.6;
	text-align: left;
	padding-bottom: 1em;
}

.universal-footer .social-media:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5em;
	width: 0.1em;
	background-color: #777777;
}

.universal-footer .footer-line {
  background: #777777;
  height: 1px;
  margin-bottom: 1em;
  }

.copyright-text p {
	color: #bababa;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	letter-spacing: 0.1em;
}


/*----------------------------------------------
			HOMEPAGE - CAROUSEL
---------------------------------------------- */

.carousel-caption {
	top: 25%;
	bottom: 28%
}

.carousel-caption h5 {
	font-size: 1.2em;
}

.carousel-caption h5 a {
	color: white;
	font-weight: bold;
	padding-left: 0.2em;
}

.carousel-caption h5 a:hover {
	color: #78cee1;
}



.container .slide-1-para  {
	font-size: 1em;

}

.container .slide-1-heading  {
	font-size: 5em;
	letter-spacing: 0.05em;


}

.container .slide-1-subheading  {
	font-size: 4em;
	color: #78cee1;
	letter-spacing: 0.08em;

}


.container .slide-2-heading  {
	font-size: 5em;
	letter-spacing: 0.08em;

}

.container .slide-2-para  {
	font-size: 2em;
}


/* ----- SIGN-IN MODAL ---- */

.inner-addon-modal { 
    position: relative; 
}

/* style icon */
.inner-addon-modal .glyphicon {
  position: absolute;
  padding: 0.8em;
  font-size: 1.2em;
  pointer-events: none;
  color: #575757;
}

#myModal {
	padding-top: 10em;
}

#si-email, #si-password {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 3em;
	margin-bottom: 1.2em;
	display: inline-block;
}

#myModalLabel {
	text-align: center;
	font-weight: bold;
}


#myModal .btn-si-cancel {
	background-color: transparent;
	border: 0.1em solid;
	padding: 0.5em 2em;
	font-weight: bold;
	transition:.5s;
}

#myModal .btn-si-signin {
	background-color: transparent;
	border: 0.1em #4ca3b6 solid;
	color: #4ca3b6;
	font-weight: bold;
	padding: 0.5em 2em;
	transition:.5s;

}


#myModal .btn-si-cancel:hover {
	background-color: #575757;
	border: 0.1em solid;
	color: white;
}

#myModal .btn-si-signin:hover {
	background-color: #4ca3b6;
	border: 0.1em #4ca3b6 solid;
	color: white;

}




/*----------------------------------------------
			HOMEPAGE - Carousel Buttons
---------------------------------------------- */


.carousel-caption .btn-primary {
	background-color: transparent;
	margin-top: 2em;
	margin-right: 0.5em;
	padding: 0.6em 1.5em;
	border-width: 0.12em;
	font-size: 1em;
	font-weight: bold;
	border-color: #ffffff;
	letter-spacing: 0.1em;
	transition:.5s;
}

.carousel-caption .btn-primary:hover{
	background: transparent;
	border-color: #78cee1;
	color: #78cee1;

}

.carousel-caption .btn-default {
	color: #62b3c4;
	margin-left: 0.5em;
	margin-top: 2em;
	letter-spacing: 0.1em;
	padding: 0.6em 1.5em;
	border-width: 0.12em;
	font-size: 1em;
	font-weight: bold;
	border-color: #ffffff;
	transition:.5s;
}

.carousel-caption .btn-default:hover {
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;

}


/*----------------------------------------------
				HOMEPAGE - SERVICES
---------------------------------------------- */

.services {
	background-color: #f8f8f8;
	height: auto;
	padding-bottom:  3em;
}

.welcome-title {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-top: 1.5em;
	letter-spacing: 0.1em;
	padding-bottom: 0.8em;
}

.services h6 {
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
	color: #8c8b8b;
	padding-bottom: 2em;
}

.services .glyphicon-list, .services .glyphicon-tasks, .services .glyphicon-cog, .services .glyphicon-globe {
    width:3em;
    height:3em;
    color: #f8f8f8;
    background-color:#222222;
    border-radius:100%;
    line-height: 3em;
    font-size: 2em;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    margin-bottom: 1em;

}

.col-sm-3 {
	text-align: center;
} 

.container .service-title {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 1.2em;
	color: black;
}

.col-sm-3 .service-info {
	font-weight: bold;
	color: #8c8b8b;

}


/*----------------------------------------------
		HOMEPAGE - Services Buttons Hover
---------------------------------------------- */
.col-sm-3 .bg-form:hover  {

	text-decoration: none;
    border-radius: 0.5em;
	background-color: #ddf4ff;
	  -o-transition:color .8s ease-out, background .5s ease-in;
	  -ms-transition:color .8s ease-out, background .5s ease-in;
	  -moz-transition:color .8s ease-out, background .5s ease-in;
	  -webkit-transition:color .8s ease-out, background .5s ease-in;
	  /* ...and now override with proper CSS property */
	  transition:color .8s ease-out, background .5s ease-in;

}



/*---------------------------------------------
		HOMEPAGE - 10 QUESTION TYPES 
-----------------------------------------------*/


.service-description .container-fluid {
	background-color: #333336;
	max-height: 26em;
	overflow: hidden;

}


.service-description h1 {
	font-size: 1.8em;
	text-align: left;
	padding-top: 3em;
	color: #62b8ca;
}


.service-description h4 {
	font-size: 1em;
	text-align: left;
	padding-top: 2em;
	padding-bottom: 2em;
	color: #f8f8f8;
	line-height: 1.5em;
}

.glyphicon-list-alt{
	font-size: 38em;
	color: #616161;
}

.service-description .sd-link {
	color: #61b5c7;
	font-size: 1em;

}

.service-description h4 a .sd-link:hover {
	color: #1c81a7;

}

/*----------------------------------------------
			HOMEPAGE - PRICING PLANS
---------------------------------------------- */

.pricing-plans {
	background-color: #f8f8f8;
	height: auto;
}


.pricing-plans .container-fluid h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-top: 1em;
	letter-spacing: 0.1em;
}

.pricing-plans .container-fluid h2 {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #616161;
	letter-spacing: 0.3em;
	margin-bottom: 4em;
}

.container .box {
	border-radius: 0.5em;
	height: 33em;
	background-color: #ffffff;
	box-shadow: 0em 0.1em 0.1em 0.1em #d1d1d1;
}

.container .box-title {
	height: 8em;
	background-color: #2b2b2b;
	border-radius: 0.5em 0.5em 0em 0em;
}

/*.pricing-plans .container .row .col-md-4 .box .box-title */ .plan-name {
	font-size: 2.5em;
	color: #ffffff;
	text-align: center;
	padding-top: 0.4em;
}

/*.pricing-plans .container .row .col-md-4 .box .box-title */ .plan-customer {
	font-size: 1.1em;
	color: #ffffff;
	text-align: center;
	padding-bottom: 1em;
}

#gradient-1 {
	height: 5em;
	/* GRADIENT */
    background: #49a5bf;
	background: -moz-linear-gradient(left, #49a5bf 0%, #75bdd1 59%, #78ccac 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #49a5bf), color-stop(59%, #75bdd1), color-stop(100%, #78ccac));
	background: -webkit-linear-gradient(left, #49a5bf 0%, #75bdd1 59%, #78ccac 100%);
	background: -o-linear-gradient(left, #49a5bf 0%, #75bdd1 59%, #78ccac 100%);
	background: -ms-linear-gradient(left, #49a5bf 0%, #75bdd1 59%, #78ccac 100%);
	background: linear-gradient(to right, #49a5bf 0%, #75bdd1 59%, #78ccac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#78ccac', GradientType=1 );
}

#gradient-2 {
	height: 5em;
	/* GRADIENT */
    background: #fa3535;
	background: -moz-linear-gradient(left, #fa3535 0%, #feb645 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #fa3535), color-stop(100%, #feb645));
	background: -webkit-linear-gradient(left, #fa3535 0%, #feb645 100%);
	background: -o-linear-gradient(left, #fa3535 0%, #feb645 100%);
	background: -ms-linear-gradient(left, #fa3535 0%, #feb645 100%);
	background: linear-gradient(to right, #fa3535 0%, #feb645 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa3535', endColorstr='#feb645', GradientType=1 );
}

#gradient-3 {
	height: 5em;
	/* GRADIENT */
    background: #39d1bd;
	background: -moz-linear-gradient(left, #39d1bd 0%, #37bfd4 41%, #49a5bf 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #39d1bd), color-stop(41%, #37bfd4), color-stop(100%, #49a5bf));
	background: -webkit-linear-gradient(left, #39d1bd 0%, #37bfd4 41%, #49a5bf 100%);
	background: -o-linear-gradient(left, #39d1bd 0%, #37bfd4 41%, #49a5bf 100%);
	background: -ms-linear-gradient(left, #39d1bd 0%, #37bfd4 41%, #49a5bf 100%);
	background: linear-gradient(to right, #39d1bd 0%, #37bfd4 41%, #49a5bf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39d1bd', endColorstr='#49a5bf', GradientType=1 );
}

/*.pricing-plans .container .row .col-md-4 .box .box-subtitle */.plan-price {
	font-size: 2.7em;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	padding-top: 0.18em;
}

/*.pricing-plans .container .row .col-md-4 .box .box-features */ .features-text {
	font-size: 1.4em;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1.9em;
}


.glyphicon-usd {
	font-size: 0.5em;
	vertical-align: text-top;
	padding-top: 0.5em;
}

.box-subtitle .per-month{
	font-size: 1em;
}

.pricing-plans .row {
	padding-bottom: 4em;
}


/*----------------------------------------------
			HOMEPAGE - Pricing Plans Buttons
---------------------------------------------- */

.pricing-plans .container .row .col-md-4 .box .box-features .button-1 .btn-default {
	background-color: #7a7a7a;
	font-size: 1em;
	padding: 0.8em 4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	transition: .8s;
}

.pricing-plans .container .row .col-md-4 .box .box-features .button-2 .btn-default {
	background-color: #e74f3b;
	font-size: 1em;
	padding: 0.8em 4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	border:none;
	transition:.5s;
}

.pricing-plans .container .row .col-md-4 .box .box-features .btn-default:hover {
	background-color: #e74f3b;
	color: #ffffff;

}


.pricing-plans .container .row .col-md-4 .box .box-features .button-1 , .button-2 {
	text-align: center;
}


/*----------------------------------------------
			HOMEPAGE - FEATURED SURVEYS
---------------------------------------------- */

.featured-surveys {
	background-color: #333336;
	height: auto;
}

.featured-surveys .container-fluid {
	padding-right: 0em;
	padding-left: 0em;
}

.col-md-3 {
	padding-left: 0em;
	padding-right: 0em;
}

.featured-surveys .container-fluid h1 {
	text-align: center;
	font-size: 2em;
	color: #ffffff;
	font-weight: bold;
	padding-top: 1.5em;
	letter-spacing: 0.1em;
}

.featured-surveys .container-fluid h2 {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 0.3em;
	margin-bottom: 2em;
}

#navlist li
{
display: inline;
padding-right: 2em;
font-size: 1em;

}


#navlist {
	text-align: center;
}

#navlist li a {
	color: #b8b8b8;
	transition:.5s;
}

#navlist li a:hover {
	color: #61bccf;
	text-decoration: none;
}

#navlist li a:active {
	color: #61bccf;
	text-decoration: none;
}

.featured-surveys .container-fluid .col-wrapper-1 .col-md-3 .rectangular-1 {
	background-color: #414141;
	height: 25em;

}

.featured-surveys .container-fluid .col-wrapper-1 .col-md-3 .rectangular-2 {
	background-color: #c2c2c2;
	height: 25em;

}

.featured-surveys .container-fluid .col-wrapper-2 .col-md-3 .rectangular-1 {
	background-color: #c2c2c2;
	height: 25em;

}

.featured-surveys .container-fluid .col-wrapper-2 .col-md-3 .rectangular-2 {
	background-color: #414141;
	height: 25em;

}

.col-wrapper-1 {
	margin-top: 3em;
}



 .featured-surveys .btn-default {
	background-color: transparent;
	color: #edebeb;
	border: 0.2em solid #edebeb;
	font-size: 1em;
	padding: 0.3em 3.5em;
	margin-top: 3em;
	margin-bottom: 3em;
	transition:.5s;
}


 .featured-surveys .btn-default:hover {
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;
}

 .featured-surveys .btn-default:active {
	background-color: transparent;
	color: #66bacc;
	border-color: #66bacc;
}

.show-more-btn {
	text-align: center;
}


/*----------------------------------------------
			HOMEPAGE - CONTACT FORM
---------------------------------------------- */

.contact-form {
	height: auto;
	background-color: #ffffff;
}

.contact-form h1 {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin-top: 2em;
	margin-bottom: 2em;

}

.contact-form .col-sm-4 {
	padding: 0em 0.5em;
}

.contact-form .message {
	padding: 1em 0.5em;
}

#message {
		max-height: 12em;
		max-width: 82.7em;
}


.contact-form .btn-default {
	background-color: transparent;
	color: #4d4d4d;
	font-size: 1em;
	font-weight: bold;
	padding: 0.3em 3.5em;
	border: 0.2em solid #4d4d4d;
	margin-top: 2em;
	margin-bottom: 3em;
	transition:.5s;
}

.contact-form .btn-default:hover {
	background-color: transparent;
	color: black;
	border-color: black;
}

.contact-form .btn-default:active {
	background-color: transparent;
	color: #66bacc;
	border-color: #66bacc;
}


.send-message-btn {
	text-align: center;
}



/*----------------------------------------------
				HOMEPAGE - FOOTER
---------------------------------------------- */

.footer {
	height: auto;
	background-color: #333336;
}

.footer #navcontainer {
	padding-top: 2em;
	padding-bottom: 1.5em;
}

.footer #navlist li {
	display: inline;
	padding-right: 2em;

}

.footer #navlist li a {
	color: #ffffff;
	font-size: 1em; 
}

.footer .social-media {
	text-align: center;
	margin-bottom: 2em;
}

.footer .social-media .icon {
	padding-right: 1em;
}


.copyright-text {
	color: #bababa;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding-bottom: 1em;
}

/*----------------------------------------------
			ABOUT PAGE
---------------------------------------------- */

.about-us .about-header {
	background-image: url("images/about.jpg");
	background-repeat: no-repeat;
	height: auto;
}


.about-header-title {
	font-size: 4em;
	padding-top: 2em;
	letter-spacing: 0.05em;
	color: white;
	font-weight: bold;
	text-align: center;
}

.about-header-subtitle {
	text-align: center;
	padding-top: 3em;
	font-size: 2em;
	font-weight: bold;
	color: white;
	letter-spacing: 0.03em;
	padding-bottom: 5em;
}

.about-subheader{
	background-color: #f5f8f9;
}

.about-subheader .text1 {
	text-align: center;
	padding-top: 4em;
	font-size: 1.6em;
	color: #45a9c3;
}

.about-subheader .text2 {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 4em;
	font-size: 1.6em;
	color: #45a9c3;
}

.about-whyus h1 {
	font-size: 2.5em;
	padding-top: 1em;
	letter-spacing: 0.05em;
	color: #2e85a0;
	font-weight: bold;
	text-align: center;
}

.about-whyus h2 {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #2e85a0;
}

.about-whyus-subtitle {
	font-size: 1.5em;
	text-align: left;
	font-weight: bold;
	color: #2e85a0;
	padding-bottom: 2em;
}

.about-us .col-md-6 {
	padding: 0;
	margin:0;
}

.whyus-lists li {
	font-size: 1.3em;
	line-height: 1.8em;
	color: #2e85a0;
}

.about-contacts {
	background-color: #333336;
	margin-top: 5em;
	height: auto;
}

.about-contacts h1 {
	font-size: 2.5em;
	padding-top: 1em;
	letter-spacing: 0.05em;
	color:white;
	font-weight: bold;
	text-align: center;
}

.about-contacts h2 {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: white;
	padding-bottom: 2em;
}

.about-contacts .glyphicon-map-marker, .about-contacts .glyphicon-earphone, .about-contacts .glyphicon-globe{
    width: 4em;
    height: 4em;
    color: #f8f8f8;
    background-color: #66bacc;
    border-radius:100%;
    line-height: 4em;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.col-md-4 {
	text-align: center;
} 

.about-contacts .service-title {
	font-size: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	color: #66bacc;
}

.about-contacts .service-info {
	font-size: 1.2em;
	color: #ccc;
	text-align: center;
	margin-bottom: 6em;
}

.about-team{
height: auto;
background-color: #f8f8f8;

}


.about-team  h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding-top: 2em;
	letter-spacing: 0.1em;
	color:#6c7a89;
}

.about-team h2 {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: #616161;
	letter-spacing: 0.3em;
	
}

.about-team h4{
   text-align: center;
   font-size: 18px;
   color: #b0b0b0;
   margin-top: 2em;
   margin-bottom: 3em;

}

 .col-md-6 .member-wrapper {
	height: 17.3em;
	width: 30em;
	margin-top: 1em;
	background-color: #ffffff;
	box-shadow: 0.1em 0.1em 0.5em #ccc;
}



.member-name {
	padding-top: 2em;
	font-size: 1em;
	color: #333333;
	font-weight: bold;
}

.member-prof {
	font-size: 1em;
	color: #b8b8b8;
	padding-bottom: 2em;
}

.member-desc {
	padding-bottom: 2em;
}

.member-name, .member-prof, .member-desc, .contacts-media {
	padding-left: 2em;
}

.about-team .contacts-media .icon{
	padding-right: 1em;
}

.about-team .pull-right {
	margin-right: 1em;
}

.about-team .container {
	padding-bottom: 2em;
}

.about-team .container:after {
	padding-bottom: 10em;
}


 /*---------------------------------------------------------------------------------------------------------------------------------
											HELP PAGE
---------------------------------------------------------------------------------------------------------------------------------*/

.help {
background-color: #F7F7F2;
padding-bottom: 14em;
}

.help .container h1 {
	font-size: 2em;
	padding-top: 2em;
}

.help .container h2 {
	font-size: 1.2em;
}


.help .list-group-item{
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;
	height: auto;

}

.glyphicon-chevron-down {
	font-size: 1em;
}

.help .row {
	margin-top: 5em;
}

.help .list-group-collapse {
	padding: 0em 1em;
}

.help .list-group-item {
	padding: 2em 2em;
}

.footer-help .navbar-default{
	background-color: #333336;
	margin: 0;
}



 /*---------------------------------------------------------------------------------------------------------------------------------
												SIGN UP PAGE
---------------------------------------------------------------------------------------------------------------------------------*/

#su-bg {
  position: fixed; 
  top: -5em; 
  left: 0; 
  z-index: -1;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


.sign-up {
	height: auto;
}



.sign-up h1 {
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 2.2em;
	padding-top: 3em;
	color: white;

}


.sign-up h2 {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 2em;
	color: white;
}

.sign-up h2 a {
	color: white;
	transition:.5s;
}

.sign-up h2 a:hover {
	color: #70c4ff;
}


.sign-up #su-name , #su-email, #su-password, #su-cpassword {
	margin-bottom: 2em;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
	padding-left: 3.5em;
	display: inline-block;
}


.sign-up-btn .btn-default {
	padding: 0.5em 4em;
	margin-top: 2em;
	font-size: 1.2em;
	font-weight: bold;
	background-color: white;
	transition:.5s;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 1em;
  font-size: 1.2em;
  pointer-events: none;
}

/* HOVER */

.sign-up-btn .btn-default:hover {
	background-color: white;
	color: #61b5c7;
	border: 0.11em solid #61b5c7;
}

.sign-up .row {
	padding-bottom: 11em;
}



/*---------------------------------------------------------------------------------------------------------------------------------
											BROWSE  TEMPLATES 
---------------------------------------------------------------------------------------------------------------------------------*/

/* SURVEY TEMPLATES WRAPPER */


.templates-wrapper {
	background-color: #f8f8f8;
	height: auto;
}

.templates-wrapper .col-md-4 {
	color: black;
}

.templates-wrapper .row {
	padding-bottom: 15em;
}


.templates-wrapper h1 {
	font-size: 2em;
	margin-top: 2em;
	letter-spacing: 0.08em;
	font-weight: bold;
	text-transform: uppercase;
}


.templates-wrapper .container .bg-form {
	margin-top: 3em;
	height: 35em;
	padding: 1em 1em;
	background-color: #ffffff;
	border-radius: 0.4em;
	border: 0.1em #b2b2b2 solid;
}

.container .bg-form h2 {
	font-size: 1em;
	text-align: left;
	margin-top: 0em;
	font-weight: bold;
}

.container .bg-form h3 {
	font-size: 1em;
	text-align: left;
	margin-top: 0.1em;
}

.templates-wrapper .container .col-md-4 img {
	background-color: #ffffff;
	border-radius: 0.2em;
	height: auto;
}

.templates-wrapper h5 {
	text-align: left;
}



/* HOVERS */

.container .bg-form:hover  {
	color: #196385;
	text-decoration: none;
	background-color: #ddf4ff;
	  -o-transition:color .8s ease-out, background .5s ease-in;
	  -ms-transition:color .8s ease-out, background .5s ease-in;
	  -moz-transition:color .8s ease-out, background .5s ease-in;
	  -webkit-transition:color .8s ease-out, background .5s ease-in;
	  /* ...and now override with proper CSS property */
	  transition:color .8s ease-out, background .5s ease-in;
}



/*---------------------------------------------------------------------------------------------------------------------------------
											BROWSE POLITICAL TEMPLATES - TEMPLATE EDIT
---------------------------------------------------------------------------------------------------------------------------------*/

.pt-edit2 {
	background-color: #fefefe;
	height: auto;
}


.pt-edit2 h1 {
	font-size: 2em;
	margin-top: 2em;
	letter-spacing: 0.08em;
	font-weight: bold;
	text-transform: uppercase;
}


.pt-edit2 h7 {
	display: inline;
	padding-right: 1.93em;
}


.pt-edit2 h5 {
	padding-bottom: 1em;
	border-bottom: 0.1em solid;
	width: 50%;
}

.pt-edit2 .col-md-6 {
	margin-top: 2em;
}

.pt-edit2 h6 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
}


.pt-edit2 .q1, .q2 , .q3, .q4, .q5 {
	margin-left: 1em;
	margin-bottom: 1em;
}


#text-q3 {
		max-height: 10em;
		width: 50em;
		max-width: 50em;
}

.q4 {
	width: 60%;
}

.pt-edit2 .select {
	width: 30em;
	padding: 0.5em 1em;
	border-radius: 0.2em;
}


.pt-edit2 .glyphicon-pencil, .glyphicon-move, .glyphicon-plus  {
	padding-right: 0.5em;
}

.pt-edit2 .glyphicon-pencil, .glyphicon-move, .glyphicon-plus, .glyphicon-remove  {
	font-size: 1.2em;
}
.pt-edit2 .glyphicon-pencil {
	margin-left: 2em;
}

.pt-edit2 .next-btn .btn-primary {
	padding: 0.5em 5em;
	margin-top: 3em;
}




/*----------------------------------------------
			SITEMAP PAGE
---------------------------------------------- */

.sitemap {
	margin-top: 8em;
}

.sitemap-bgcolor {
	background-color: #f8f8f8;
}

.sitemap h4 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: left;
}

.sitemap .container {
	margin-top: 5em;
}

.sitemap .col-md-4 ul {
	padding-top: 1em;
}

.sitemap .col-md-4 li {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: left;
}

/*----------------------------------------------
			PRICING PAGE
---------------------------------------------- */

.payment-options{
	margin-top: 5em;
}

.payment-options .container .title {
	padding-bottom: 1em;
	font-weight: bold;
}

 #payment{
	background-color: #f8f8f8;
	width: 744px;
	height: 190px;
	text-align: right;
	padding-top: 20px;	
}

.form-horizontal{
padding-right: 223px;

}

.payment-options .summary{
	padding-bottom: 10em;
}

.form-inline{
padding-right: 200px;

}


.legend{
font-size: 15px;
color: #45a9c3;
font-weight: bold;
}

 #billing{

	background-color: #f8f8f8;
	width: 744px;
	height: 530px;
	text-align: right;
	padding-top: 20px;
}


.security-code{
	width: 70px; 
}

#cvv{
	padding-left: 20px;
}


 #cardnumber, #nameoncard, #email, #postal-code, #first-name, #last-name, #adresa, #qyteti, #celi, #billing-number, #optional-email, #company-name, #country{
	width: 245px;
}

.cardname{
width: 245px;
}

label{
padding-right: 5px;
}


#last-items
{
    list-style-type: none;
}

.row-upper{

	width: 744px;
	height: 97px;
	text-align: center;
	padding-top: 1em;
    background-color: #f8f8f8; 

} 

#lower{

	width: 744px;
	height: 170px;
    text-align: center;
	padding-top: 1em;
    background-color: #dadad8; 
} 


#not-bill{

text-align: left;
padding-top: 12px;
font-size: 12px;
color: #8e8b86;
float: right;
padding-right: 30px;

}


#send-paymet{
color: #7d7c7a; 
padding-left: 11px;
font-size: 13px;

}
#item1{

	font-size: 22px;
	font-weight: bold;
	padding-bottom: 15px;
}


#tooltip-frq, #tooltip-form{
    color: #858583;
}

#paywithpal{
   background-color: #f8f8f8;
	width: 744px;
	height: 180px;
    padding-top: 10px;
    padding-left: 120px;

}

#pay-pal h3{
font-size: 18px;
font-weight: bold;
}

#paypal-ol{
font-size: 1em;

}

#billing-paypal{

    background-color: #f8f8f8;
	width: 744px;
	height: 230px;
	text-align: right;
	padding-top: 20px;

}

.card {
	margin-bottom: 5em;
}

/*----------------------------------------------
			PUBLISH PAGE
---------------------------------------------- */


.publish-template {
	margin-top: 8em;
}

.publish-template h1 {
	font-weight: bold;
}


.publish-template p {
	margin-top: 2em;
	font-weight: bold;
}

.publish-template .share-wrapper  {
	background-color: #f5f5f5;
	border-radius: 1em;
	border: 0.2em #f5f5f5 solid;
	padding-left: 2em;
}

.publish-template .pt-link {
	border: 0.1em solid;
	font-size: 1.1em;
	padding: 0.4em 1em;
	width: 30%;
}

.publish-template .row {
	margin-bottom: 2em;
}

.publish-template .col-md-6 .btn {
	margin-right: 1em;
	padding: 2em 2em;
}


/*----------------------------------------------
			PRIVACY PAGE
---------------------------------------------- */

.privacy {
	margin-top: 5em;
}

.privacy-text1, .privacy-text2 {
	font-size: 1.2em;
}

.privacy-text1 ul {
	margin-top: 2em;
}

.privacy-text1 li {
	margin-top: 1em;
}

.privacy-text2 {
	margin-top: 4em;
	margin-bottom: 5em;
}


/*----------------------------------------------
			MEDIA QUERIES
---------------------------------------------- */
@media  (max-width: 90em) {

	.sign-up-btn .btn-default {
	font-size: 1.2em;
	padding: 0.4em 3em;
	}

.carousel-caption {
	top: 20%;
	bottom: 25%
	}

	.container .slide-1-para  {
	font-size: 1em;
	line-height: 2em;
	letter-spacing: 0.05em;

	}

	.container .slide-1-heading  {
	font-size: 5em;
	letter-spacing: 0.05em;
	line-height: 1em;

	}

	.container .slide-1-subheading  {
	font-size: 3em;
	color: #78cee1;
	letter-spacing: 0.05em;

	}
	

	.container .slide-2-heading  {
	font-size: 4em;
	letter-spacing: 0.05em;

	}

	.container .slide-2-para  {
	font-size: 1.5em;
	}


	.carousel-caption .btn-primary {
	background-color: transparent;
	margin-top: 0.8em;
	margin-right: 0.3em;
	padding: 0.2em 1em;
	border: 0.2em solid #ffffff;
	border-width: 0.1em;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	}
	.carousel-caption .btn-default {
	color: #62b3c4;
	margin-left: 0.3em;
	margin-top: 0.8em;
	letter-spacing: 0.1em;
	padding: 0.2em 1em;
	border-width: 0.1em;
	font-size: 1.2em;
	border-color: #ffffff; 
	}


@media  (max-width: 75em) {
	

	.container .service-info {
		font-size: 0.85em;
	}

	.carousel-caption {
	top: 20%;
	bottom: 25%
	}

	.container .slide-1-para  {
	font-size: 1em;
	line-height: 1em;
	letter-spacing: 0.05em;

	}

	.container .slide-1-heading  {
	font-size: 5em;
	letter-spacing: 0.05em;
	line-height: 0.8em;

	}

	.container .slide-1-subheading  {
	font-size: 3em;
	color: #78cee1;
	letter-spacing: 0.05em;

	}
	

	.container .slide-2-heading  {
	font-size: 4em;
	letter-spacing: 0.05em;

	}

	.container .slide-2-para  {
	font-size: 1.5em;
	}


	.carousel-caption .btn-primary {
	background-color: transparent;
	margin-top: 0.8em;
	margin-right: 0.3em;
	padding: 0.2em 1em;
	border: 0.2em solid #ffffff;
	border-width: 0.1em;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	}
	.carousel-caption .btn-default {
	color: #62b3c4;
	margin-left: 0.3em;
	margin-top: 0.8em;
	letter-spacing: 0.1em;
	padding: 0.2em 1em;
	border-width: 0.1em;
	font-size: 1.2em;
	border-color: #ffffff; 
	}

	.pricing-plans .row .box {
	margin-bottom: 2em;
	}

	.pricing-plans .row {
	padding-bottom: 0.5em;
	}

	.container .col-md-4 img {
	width: 100%;
	height: auto;
	}

	.templates-wrapper .container .bg-form {
	height: auto;
	}
	.q4 {
		width: 60%;
	}


}

@media (max-width: 50em) {
	
	.services h6 {
		font-size: 1em;
	}

	.service-description h4 {
		font-size: 0.9em;
	}

	.pricing-plans .row .box {
		margin-bottom: 2em;
	}

	.pricing-plans .row {
		padding-bottom: 1em;
	}

	 .featured-surveys .btn-default {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.contact-form #email, #name, #subject {
		margin-bottom: 1em;
	}
	
	.contact-form .btn-default {
		margin-top: 1em;
		margin-bottom: 2em;
	}

	.footer #navcontainer {
		padding-top: 2em;
		padding-bottom: 1em;
	}

	

	.carousel-caption {
	top: 8%;
	bottom: 25%
	}
	.container .slide-1-para  {
	font-size: 0.7em;
	line-height: 0.1em;
	letter-spacing: 0.05em;

	}

	.container .slide-1-heading  {
	font-size: 2.8em;
	letter-spacing: 0.05em;
	line-height: 0.6em;

	}

	.container .slide-1-subheading  {
	font-size: 2em;
	color: #78cee1;
	letter-spacing: 0.05em;

	}
	

	.container .slide-2-heading  {
	font-size: 3em;
	letter-spacing: 0.05em;

	}

	.container .slide-2-para  {
	font-size: 1em;
	}


	.carousel-caption .btn-primary {
	background-color: transparent;
	margin-top: 0.8em;
	margin-right: 0.3em;
	padding: 0.2em 1em;
	border: 0.2em solid #ffffff;
	border-width: 0.1em;
	font-size: 0.8em;
	letter-spacing: 0.05em;
	}
	.carousel-caption .btn-default {
	color: #62b3c4;
	margin-left: 0.3em;
	margin-top: 0.8em;
	letter-spacing: 0.1em;
	padding: 0.2em 1em;
	font-size: 0.8em;
	}

	.templates-wrapper .container .bg-form {
	height: auto;
	}
	.pt-edit2 h6 {
	line-height: 1.2em;
	}
	.q4 {
		width: 70%;
	}

}




@media (max-width: 30em) {


	.carousel-caption {
	padding: 0;
	}

	.navbar-brand {
		font-size: 1.8em;
	}

	.container .slide-1-para  {
	display: none;

	}

	.container .slide-1-heading  {
	font-size: 1.5em;
	letter-spacing: 0.05em;

	}

	.container .slide-1-subheading  {
	font-size: 1.2em;
	color: #78cee1;
	letter-spacing: 0.05em;

	}

	.container .slide-2-heading  {
	font-size: 2em;
	letter-spacing: 0.05em;
	}

	.container .slide-2-para  {
	display: none;
	}

	.container .slide-3-heading  {
	font-size: 1.5em;
	letter-spacing: 0.05em;
	}

	.carousel-indicators{
	display: none;
	}

	.carousel-caption .btn-primary {
	background-color: transparent;
	margin-right: 0.3em;
	padding: 0.5em 1.2em;
	border: 0.2em solid #ffffff;
	font-size: 0.5em;
	letter-spacing: 0.05em;
	}

	.carousel-caption .btn-default {
	margin-left: 0.3em;
	padding: 0.5em 1.2em;
	letter-spacing: 0.1em;
	font-size: 0.5em;
	}

	.services .welcome-title {
		font-size: 1.4em;
	}

	.services h6 {
	font-size: 0.9em;
	font-weight: normal;
	}

	.featured-surveys #navlist li {
		font-size: 0.8em;
	}

	.contact-form .col-sm-4 {
		margin-bottom: 1em;
	}

	.templates-wrapper .container {
		margin-bottom: 3em;
	}

	.about-header-title {
		font-size: 2em;
	}

	.about-header-subtitle {
		font-size: 1em;
		padding: 2em 0.5em;
		font-weight: normal;
	}

	.about-subheader .text1 {
		font-size: 1.2em;
		padding: 2em 0.5em;
		font-weight: normal;
	}

	.about-subheader .text2 {
		display: none;
	}

	.about-whyus-subtitle {
		font-size: 1.2em;
		font-weight: normal;
	}

	.about-whyus .whyus-lists li {
		font-size: 1em;
	}

	.about-contacts .glyphicon-map-marker, .glyphicon-earphone, .glyphicon-blobe {
    width: 3em;
    height: 3em;
    line-height: 3em;
    font-size: 2em;
	margin: 1em 0.2em;
	}

	.about-contacts .service-info {
		margin-bottom: 1em;
	}

	.about-team .container {
		padding-bottom: 30em;
	}

	.templates-wrapper .container .bg-form {
	height: auto;
	}

	.q4 {
		width: 90%;
	}
	.q5 .select {
		width: 90%;
	}

	.sign-up-btn .btn-default {
	padding: 0.4em 3.5em;
	font-size: 1em;
	margin-bottom: 5em;
	}

	.sign-up h1 {
	padding-top: 1em;
	}

	.sign-up .row {
	padding-bottom: 15em;
	}

}

/* iphone 5 size */
@media (max-width: 30em) {


	.sign-up h1 {
	padding-top: 1em;
	font-size: 1.5em;
	}

	.sign-up-btn .btn-default {
	padding: 0.4em 3em;
	font-size: 1em;
	margin-bottom: 5em;
	}
}


/*---------------------------------------------------------------------------------------------------------------------------------
											BROWSE POLITICAL TEMPLATES - TEMPLATE EDIT
---------------------------------------------------------------------------------------------------------------------------------*/


.pt-edit2 {
	background-color: #fefefe;
	height: auto;
}



.pt-edit2 h1 {
	font-size: 2em;
	margin-top: 2em;
	letter-spacing: 0.08em;
	font-weight: bold;
	text-transform: uppercase;
}


.pt-edit2 h7 {
	display: inline;
	padding-right: 1.93em;
}


.pt-edit2 h5 {
	padding-bottom: 1em;
	border-bottom: 0.1em solid;
	width: 50%;
}

.pt-edit2 .col-md-6 {
	margin-top: 2em;
}

.pt-edit2 h6 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
}


.pt-edit2 .q1, .q2 , .q3, .q4, .q5 {
	margin-left: 1em;
	margin-bottom: 1em;
}


#text-q3 {
		max-height: 10em;
		width: 50em;
		max-width: 50em;
}

.q4 {
	width: 60%;
}

.pt-edit2 .select {
	width: 30em;
	padding: 0.5em 1em;
	border-radius: 0.2em;
}


.pt-edit2 .glyphicon-pencil, .glyphicon-move, .glyphicon-plus  {
	padding-right: 0.5em;
}

.pt-edit2 .glyphicon-pencil, .glyphicon-move, .glyphicon-plus, .glyphicon-remove  {
	font-size: 1.2em;
}
.pt-edit2 .glyphicon-pencil {
	margin-left: 2em;
}

.pt-edit2 .next-btn .btn-primary {
	padding: 0.5em 5em;
	margin-top: 3em;
}



/*----------------------------------------------
			PUBLISH PAGE
---------------------------------------------- */


.publish-template {
	margin-top: 8em;
}

.publish-template h1 {
	font-weight: bold;
}


.publish-template p {
	margin-top: 2em;
	font-weight: bold;
}

.publish-template .share-wrapper  {
	background-color: #f5f5f5;
	border-radius: 1em;
	border: 0.2em #f5f5f5 solid;
	padding-left: 2em;
}

.publish-template .pt-link {
	border: 0.1em solid;
	font-size: 1.1em;
	padding: 0.4em 1em;
	width: 30%;
}

.publish-template .row {
	margin-bottom: 2em;
}

.publish-template .col-md-6 .btn {
	margin-right: 1em;
	padding: 2em 2em;
}









